ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.products li {
    list-style-type: none;
    border: 2px solid #E6E6E6;
    margin: 20px;
    padding: 20px 0;
    width: 100%;
}

li > div {
    text-align: center;
}

.addForm {
    text-align: center;
}

.addInput {
    background-color: #ffbf8f;
    color: black;
    border-style: solid;
    border-radius: 12px;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;

}

.addInput:hover {
    background-color: #fff0d4;
}

.removeInput {
    background-color: #ff60b3;
    color: black;
    border-style: solid;
    border-radius: 12px;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;

}

.removeInput:hover {
    background-color: black;
    color: white;
}

#cart-wrapper {
    display: flex;
    justify-content: space-between;
}
